.btn {
    display: inline-block;
    vertical-align: top;
    padding: 1rem 2rem;

    background: none;

    border: 0;
    border-radius: $radius_small;

    font-size: 1rem;
    line-height: 1.1rem;
    color: $black;
    font-weight: 500;
    text-decoration: none;

    transition: background .3s linear, color .3s linear;

    &--pink {
        border: 2px solid $pink;

        &:hover {
            color: $white;
            background: $pink;
        }
    }
}
