<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
<body>
    <div class="page">

        <!-- Header -->
        {{> header}}

        <!-- Content -->
        <div class="content">
            {{> body}}
        </div>

        <!-- Footer -->
        {{> footer}}

    </div> <!-- /.page -->

    <script src="https://code.jquery.com/jquery-3.5.0.slim.min.js" integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs=" crossorigin="anonymous"></script>
    <script src="assets/js/app.min.js"></script>
</body>
</html>