<div class="modal fade" id="request-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <button type="button" class="modal__close" data-dismiss="modal" aria-label="Close">
            <svg class="modal__close-icon">
                <use xlink: href="#close"></use>
            </svg>
        </button>

        <div class="modal__title">Оставить заявку</div>
        <div class="modal__text">Заполните форму ниже и я свяжусь с Вами в ближайшее время</div>

        <form action="" class="form" method="POST">
            <div class="form__group">
                <input type="text" class="input" placeholder="Ваше имя">
            </div>
            <div class="form__group">
                <input type="email" class="input" placeholder="Ваш e-mail">
            </div>
            <div class="form__group">
                <input type="tel" class="input" placeholder="Ваш телефон">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn--pink" type="submit">Оставить заявку</button>
                </div><!--/.col-md-6-->
                <div class="col-md-6">
                    <ul class="contacts contacts--modal">
                        <li class="contacts__item">
                            <a href="tel:+79834551979" class="contacts__link">
                                +7 (983) 455-19-79
                            </a>
                        </li>
                        <li class="contacts__item">
                            <a href="mailto:info@mango-web.ru" class="contacts__link">
                                info@mango-web.ru
                            </a>
                        </li>
                    </ul>
                </div><!--/.col-md-6-->
            </div><!--/.row-->
            
        </form>
            
        
        
      </div> <!--/.modal-content-->
    </div><!--/.modal-dialog-->
  </div>