@import "vars";

// Bootstrap основные//
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

// Bootstrap дополнительные//
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/transitions";
@import "../../../node_modules/bootstrap/scss/modal";


// Blocks //
@import "blocks/page";
@import "blocks/content";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/logo";
@import "blocks/nav";
@import "blocks/lang";
@import "blocks/intro";
@import "blocks/btn";
@import "blocks/btn";
@import "blocks/contacts";
@import "blocks/autor";
@import "blocks/circle";
@import "blocks/social";


// Vendors //
@import "vendor/slick";


*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    margin: 0;

    background-color: $gray;

    font-family: 'Montserrat', sans-serif;
    color: $black;
    font-size: 1rem;
    line-height: 1.5;
}