@import "vars";

// Bootstrap основные//
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

// Bootstrap дополнительные//
@import "../../../node_modules/bootstrap/scss/grid";


// Blocks //
@import "blocks/header";
@import "blocks/logo";
//@import "blocks/btn";


// Vendors //
@import "vendor/slick";


*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    margin: 0;

    background-color: $gray;

    font-family: 'Montserrat', sans-serif;
    color: $black;
    font-size: 1rem;
    line-height: 1.5;
}