body {
    margin: 0;
}

@import "vars";

// Bootstrap основные//
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

// Bootstrap дополнительные//
@import "../../../node_modules/bootstrap/scss/grid";


// Blocks //
//@import "blocks/header";
//@import "blocks/btn";


// Vendors //
@import "vendor/slick";