// COLORS //
$white: #fff;
$pink: #f11b75;
$black: #121212;
$gray: #fafafa;
$light-gray: #a1a1a1;

$radius: 10px;
$radius_small: 5px;
$shadow: 0 0 25px rgba(0, 0, 0, .05);

// Bootstrap Modal
$modal-backdrop-bg: #0a1630;
$modal-backdrop-opacity: .9;